@{
     ViewBag.Title = "Kontakt";
}

<div class="text-center mb-5">
     <h1> Kontakt i podrška</h1>
     <p class="lead">
          Ukoliko imate pitanja ili probleme prilikom podnošenja zahteva,
          kontaktirajte administratora sistema.
     </p>
</div>

<div class="row">
     <div class="col-md-6">
          <div class="card shadow-sm mb-4">
               <div class="card-header bg-dark text-white">
                    Kontakt informacije
               </div>

               <div class="card-body">
                    <p><b>👨‍💻 Autor projekta:</b> Luka Ivetić</p>
                    <p><b>🎓 Fakultet:</b> Tehnički fakultet "Mihajlo Pupin"</p>
                    <p><b>📍 Grad:</b> Zrenjanin</p>
                    <p><b>📧 Email:</b> lukaivetic1234@gmail.com</p>
               </div>
          </div>
     </div>

     <div class="col-md-6">
          <div class="card shadow-sm mb-4">
               <div class="card-header bg-dark text-white">
                    Rad sistema
               </div>

               <div class="card-body">
                    <p>✔ Podnošenje zahteva</p>
                    <p>✔ Pregled zahteva</p>
                    <p>✔ Izmena podataka</p>
                    <p>✔ Brisanje zahteva</p>
                    <p>✔ Automatska poslovna pravila</p>
               </div>
          </div>
     </div>
</div>

<div class="alert alert-success text-center">
     Sistem za prijavu kandidata je uspešno implementiran korišćenjem ASP.NET MVC arhitekture.
</div>

<div class="text-center mt-4">
     <a href="/Zahtev" class="btn btn-primary btn-lg">
           Povratak na zahteve
     </a>
</div>